@using PhotoDealer.Web.ViewModels
@model  PictureViewModel

@{
    ViewBag.Title = "Index";

}

<h2>Index</h2>
<div>

    @using (Html.BeginForm("Index", "Picture", FormMethod.Post,
        new { id = "CategoryTestUploadForm", @class = "form form-horizontal" }))
    {

        @Html.AntiForgeryToken();

        @Html.ValidationSummary()

        @Html.DisplayFor(m => m.CategoryGroup)

        @Html.LabelFor(m => m.CategoryGroup)
        @Html.EditorFor(m => m.CategoryGroupId)
        @Html.ValidationMessageFor(m => m.CategoryGroupId)

        @Html.EditorFor(m => m.CategoryId)
        @Html.ValidationMessageFor(m => m.CategoryId)
        <img src="/Picture/GetImage" alt="Test" />

        <input type="submit" name="name" value="Send" />
    }
</div>

@section scripts
{
  <script src="~/Scripts/dropdownlist.js" type="text/javascript"></script>
}