@using PhotoDealer.Web.ViewModels
@model  IList<PictureViewModel>

@{
    ViewBag.Title = "Index";

}

<h2>Index</h2>
@{
    int numberInRow = 4;
    int counter = 0;
    int pictureCount = Model.Count();

    int rows = pictureCount / numberInRow;
    if (pictureCount % numberInRow > 0)
    {
        rows++;
    }
}

@for (int i = 0; i < rows; i++)
{
    if (counter % numberInRow == 0)
    {
        <div class="row">
            @for (int j = 0; j < numberInRow; j++)
            {
                if (counter < pictureCount)
                {
                    <div class="col-md-3">
                        <div>
                            <img src="@string.Format("/Picture/GetImage?id={0}", Model[counter].PictureId)" alt="" />
                        </div>
                        <div>
                            @Html.DisplayFor(m => Model[counter].Title) by @Html.DisplayFor(m => Model[counter].Author)
                        </div>
                        <div>
                            @Html.DisplayFor(m => Model[counter].Price)
                            @Html.DisplayFor(m => Model[counter].CategoryGroup) - @Html.DisplayFor(m => Model[counter].Category)
                        </div>
                    </div>
                    counter++;
                }
            }
        </div>
    }
}
